.cart {
    width: 30px;
    color: #7c3aed; /* código de color correspondiente al tono "purple-600" */
}

.add-to-cart-btn {
    background-color: #ffc233;
    color: #333;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.add-to-cart-btn:hover {
    background-color: #ffdc00;
}

.add-to-cart-btn:active {
    background-color: #ffdc00;
}

.add-to-cart-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.add-to-cart-btn .icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.add-to-cart-btn .icon:before {
    content: '\f07a';
}

.add-to-cart-btn .text {
    transition: transform 0.3s;
}

.add-to-cart-btn:active .text {
    transform: scale(0.95);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.add-to-cart-btn:active:enabled:before {
    animation: pulse 0.3s ease;
}

.cart-page {
    background-color: #4618ac;
    color: #fff;
    padding: 50px 0;
}

.cart-items {
    background-color: #32117d;
    border-radius: 10px;
    padding: 20px;
}

.table-header {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}
.cart-item{
    display: flex;
    align-items: center;
}
.item-image {
    width: 40%;
}

.item-image img {
    width: 100%;
}

.item-name {
    width: 20%;
    text-align: center;
}

.item-quantity {
    width: 20%;
    text-align: center;
}

.item-quantity input[type='text'] {
    width: 50px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #ffdf6b;
}

.item-quantity button {
    margin-top: 10px;
    background-color: #ffdf6b;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.item-price {
    width: 20%;
    text-align: center;
}

.item-remove svg {
    cursor: pointer;
}

.cart-total {
    margin-top: 20px;
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
}

.total-price {
    color: #ffdf6b;
}

.cart-actions {
    margin-top: 20px;
    text-align: right;
}

.clear-btn {
    background-color: #ffdf6b;
    color: #4618ac;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.alert-success {
    background-color: #90ee90;
    color: #000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
