* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.columns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.column {
    width: 40%;
    display: flex;
    margin: 0 5%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

img {
    width: 100px;
}

td {
    /* border: 1px solid black; */
    border-collapse: collapse;
    text-align: center;
}

.btn {
    margin-bottom: 10px;
}

table {
    min-width: 400px;
    background-color: #32117d;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

td {
    min-height: 150px;
    width: 150px;
}

.accions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
}

.accions button {
    margin-bottom: 10px;
}
