.containerProducts {
    display: flex;
    flex-wrap: wrap;
    gap: 7.5%;
    width: 100%;
    margin: 10px 0;
    /* align-items: center; */
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}

.hidden {
    display: none !important;
}

.containerForm{
    background-color: #4618ac;
    max-width: 100%;
}