*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    color: whitesmoke;
    line-break: auto;
}
img{
    width: 130px;
}
.icon{
    width: 32px;
}

body{
    background-color: #4618ac;
    /* background-color: #23049D; */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #252525;
    overflow-x: hidden;
}