*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    color: whitesmoke;
    line-break: auto;
}
img{
    width: 130px;
}
.icon{
    width: 32px;
}